body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    width: 70%;
    display: flex;
    justify-content: center;
    border: 5px;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none; 
}
li {
    padding-left: 30px;
    padding-right: 30px;
}